<!DOCTYPE html>
<html>
  <body>
    <h2> Welcome to anon.cparedesr.com</h2>
    <h3>Endpoints:</h3>
    <ul>
      <li><a href="/daniel">/daniel</a> -> Full Copypasta</li>
      <li><a href="/navon">/navon</a> -> Full Copypasta</li>
      <li><a href="/fragment">/fragment</a> -> Fragmento del copypasta</li>
      <li><a href="/herbert">/herbert</a> -> Random Herbert Image</li>
      <li><a href="/docs">/docs</a> -> documentacion</li>
    </ul>

    Confesión #C113985
    Oye cabros, en buena, entraron a estudiar Ingeniería en la universidad que ha sido calificada Nº1 en latinoamérica. Si no quieren "estresarse" cambiense a Comercial en la UDLA.
    Ingeniería siempre fue una carrera exigente y muy difícil. Mucho mas difícil de lo que es hoy. Se los dice quien lleva 30 años de profesor en esta Escuela.
    Programación Avanzada es un curso que tiene un objetivo difícil de lograr sin un trabajo muy intenso: completar la habilidad de escribir programas de relativa complejidad. Eso no se puede lograr con estudio, solo con trabajo muy duro. Es por la misma razón que los estudiantes de Arquitectura no duermen durante 48 horas cada semana para lograr la entrega de su taller.
    Es cierto que los 10 créditos de este curso no corresponden, pero con una mano en el corazón, ustedes saben que hay varios otros que dan 10 créditos y requieren 5.
    Mi humilde, probablemente impopular, opinión.
  </body>
</html>
